@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  background-color: #f6f2ff;
}
.pri-text {
  color: #1a0b2e;
}
.secon-text {
  color: #6b548e;
}
/*Styles for login page*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 30px 40px;
}
.navbar a {
  color: rgb(29, 28, 28);
  text-decoration: none;
}
.navbar a:hover {
  color: rgb(79, 76, 76);
}
.form {
  border: 2px solid grey;
  border-radius: 10px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  padding: 5%;
  text-align: center;
  background-color: #f1e9ff;
}
.form input {
  width: 45%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.form button {
  margin-top: 20px;
  border: none;
  padding: 15px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #7c3aed;
}

.navbar .redirect-btn {
  background-color: #7c3aed;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.navbar .redirect-btn:hover {
  background-color: #6b2dd6;
  color: #ffff;
}

/*Styles for landing page*/
.landing {
  margin-top: 40px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.landing .image img {
  border-radius: 20px;
  margin-right: 80px;
}
.landing .content {
  margin-left: 80px;
  padding: 20px;
}

.landing .content .search input {
  margin-top: 50px;
  border: none;
  width: 500px;
  padding: 15px;
  border-radius: 5px;
}
.landing .content .search button {
  border: none;
  padding: 15px;
  background-color: #7c3aed;
  color: #ffff;
  font-weight: bold;
  border-radius: 5px;
}
.numbers {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.numbers .info-container {
  display: flex;
  align-items: center;
  width: 220px;
}
.numbers .info-container p {
  margin-left: 10px;
}
